.App {
  text-align: center;
  background-color: #f5f5f5;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    max-height: 200px;
    height: 100%;
  }
}

.App-header {
  background-color: #f5f5f5;
  background-image: url("./images/cloudbackground.jpg");
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Header-area {
  background-color: #f5f5f5;
}

.Header-content {
  display: flex;
   justify-content: center;
   align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}